zombie-stick-level-editor-workspace/.metadata/.plugins/com.adobe.flexbuilder.codemodel/searchCache/ASReferenceIndex/lucene-f9f7f786fa7222a588e1d7e61c5893d1-write.lock
zombie-stick-level-editor-workspace/.metadata/.plugins/com.adobe.flexbuilder.codemodel/searchCache/CSSIndex/lucene-5bd5944a579e0d1cc6f5da7c897f755f-write.lock
zombie-stick-level-editor-workspace/.metadata/.plugins/com.adobe.flexbuilder.codemodel/searchCache/MXMLReferenceIndex/lucene-5a2441e61b64365f7808f3b56855f67e-write.lock
zombie-stick-level-editor-workspace/.metadata/.plugins/com.adobe.flexbuilder.codemodel/searchCache/SWCReferenceIndex/lucene-17307389328400798d75f480e8c50e63-write.lock
zombie-stick-level-editor-workspace/.metadata/.plugins/org.eclipse.team.cvs.core/.running
.running